.route--active {
  font-weight: bold;
  text-decoration: underline;
}

.header {
  .logo-row {
    margin-top: 1rem;
    > div {
      display: inline-block;
    }
  }

  .logo-row .left-side {
    width: 30%;
  }

  .logo-row .right-side {
    width: 30%;
  }
}
